$board-square-size: 45px;

#board{
    margin: 0 auto;
    margin-top: 42px;
    .board-row{
        display: flex;
        .board-row-square{
            outline: 1px solid black;
            width: $board-square-size;
            height: $board-square-size;
            margin: 3px;
            font-size: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            background-color: #fff;
        }

        .board-row-square[flag="CORRECT"]{
            background-color: darkgreen;
            color: white;
            animation: flip 0.3s;
        }
        .board-row-square[flag="WRONG"]{
            background-color: #333;
            color: white;
            animation: flip 0.3s;
        }
        .board-row-square[flag="WRONGPOSITION"]{
            background-color: goldenrod;
            color: white;
            animation: flip 0.3s;
        }
        
        @for $i from 1 through 10 {
            .board-row-square:nth-child(#{$i}n) {
                animation-delay: #{$i * 0.1}s;
            }
        }
    }
}

@keyframes flip {
    0%{
        height: $board-square-size;
    }

    50%{
        height: 0px;
        margin-top: 30px;
    }

    100%{
        height: $board-square-size;
    }
}
