#keyboard{
    position: fixed;
    bottom: 15px;
    width: 100%;
    &[visibility="HIDDEN"]{
        display: none;
    }
    .keyboard-row{
        margin-top: 9px;
        text-align: center;
    }
    .keyboard-key{
        padding: 3px;
        margin: 3px;
        width: 35px;
        height: 35px;
        background-color: #eee;
        border-radius: 0;
        border: 1px solid black;
        color: black;
        font-size: 21px;
        background-color: #fff;

        &.special-key{
            width: 90px;
            font-size: 18px;
        }

        &[flag='CORRECT']{
            background-color: darkgreen;
            color: white;
        }
        &[flag='WRONG']{
            background-color: #333;
            color: white;
        }
        &[flag='WRONGPOSITION']{
            background-color: goldenrod;
            color: white;
        }
    }
}
